main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-sect {
        display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 30px 70px;
  width: max-content;

  gap: 60px;

  background-color: #f7e2cb;
  border-radius: 20px;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.208);
}

.food-sect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #f8e6d3;
  padding: 10px 40px 15px 40px;
  border-radius: 15px;
}

.food-sect h3 {
  font-size: 3.2rem;
}

.food-sect p {
  font-size: 1.8rem;
  text-align: center;
}

.food-para-sect{
    display: flex;
    flex-direction: column;
    gap: 5px;
}